<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpj.work.dao.TEmployeesMapper" >
  <resultMap id="BaseResultMap" type="com.wpj.work.entity.TEmployees" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="e_id" property="eId" jdbcType="INTEGER" />
    <result column="e_name" property="eName" jdbcType="VARCHAR" />
    <result column="e_age" property="eAge" jdbcType="INTEGER" />
    <result column="e_introduce" property="eIntroduce" jdbcType="INTEGER" />
    <result column="e_mvaddress" property="eMvaddress" jdbcType="VARCHAR" />
    <result column="e_phone" property="ePhone" jdbcType="VARCHAR" />
    <result column="e_photoadd" property="ePhotoadd" jdbcType="VARCHAR" />
    <result column="e_comments" property="eComments" jdbcType="INTEGER" />
    <result column="e_type" property="eType" jdbcType="VARCHAR" />
    <result column="e_isDelete" property="eIsdelete" jdbcType="BIT" />
  </resultMap>
</mapper>