<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2015 -5 - 30  By wupeji QQ:757671834
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpj.work.dao.T_employeesMapper">
    <resultMap id="BaseResultMap" type="T_employees">
        <id column="e_id" property="eId" jdbcType="INTEGER"/>
        <result column="e_name" property="eName" jdbcType="VARCHAR"/>
        <result column="e_age" property="eAge" jdbcType="INTEGER"/>
        <result column="e_introduce" property="eIntroduce" jdbcType="VARCHAR"/>
        <result column="e_mvaddress" property="eMvaddress" jdbcType="VARCHAR"/>
        <result column="e_phone" property="ePhone" jdbcType="VARCHAR"/>
        <result column="e_photoadd" property="ePhotoadd" jdbcType="VARCHAR"/>
        <result column="e_comments" property="eComments" jdbcType="INTEGER"/>
        <result column="e_type" property="eType" jdbcType="VARCHAR"/>
        <result column="e_isdelete" property="isDelete" javaType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    e_id, e_name, e_age, e_introduce, e_mvaddress, e_phone, e_photoadd, e_comments, e_type
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_employees
        where e_id = #{eId,jdbcType=INTEGER}
    </select>
    <select id="selectAllByPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from t_employees
    </select>
    <!--删除信息软删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE  t_employees
    set e_isdelete=0
    where e_id = #{eId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="T_employees">
    insert into t_employees (e_id, e_name, e_age, 
      e_introduce, e_mvaddress, e_phone, 
      e_photoadd, e_comments, e_type
      )
    values (#{eId,jdbcType=INTEGER}, #{eName,jdbcType=VARCHAR}, #{eAge,jdbcType=INTEGER}, 
      #{eIntroduce,jdbcType=INTEGER}, #{eMvaddress,jdbcType=VARCHAR}, #{ePhone,jdbcType=VARCHAR}, 
      #{ePhotoadd,jdbcType=VARCHAR}, #{eComments,jdbcType=INTEGER}, #{eType,jdbcType=VARCHAR}
      )
  </insert>
    <!--用户信息添加-->
    <insert id="insertSelective" parameterType="T_employees">
        insert into t_employees
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eId != null">
                e_id,
            </if>
            <if test="eName != null">
                e_name,
            </if>
            <if test="eAge != null">
                e_age,
            </if>
            <if test="eIntroduce != null">
                e_introduce,
            </if>
            <if test="eMvaddress != null">
                e_mvaddress,
            </if>
            <if test="ePhone != null">
                e_phone,
            </if>
            <if test="ePhotoadd != null">
                e_photoadd,
            </if>
            <if test="eComments != null">
                e_comments,
            </if>
            <if test="eType != null">
                e_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eId != null">
                #{eId,jdbcType=INTEGER},
            </if>
            <if test="eName != null">
                #{eName,jdbcType=VARCHAR},
            </if>
            <if test="eAge != null">
                #{eAge,jdbcType=INTEGER},
            </if>
            <if test="eIntroduce != null">
                #{eIntroduce,jdbcType=INTEGER},
            </if>
            <if test="eMvaddress != null">
                #{eMvaddress,jdbcType=VARCHAR},
            </if>
            <if test="ePhone != null">
                #{ePhone,jdbcType=VARCHAR},
            </if>
            <if test="ePhotoadd != null">
                #{ePhotoadd,jdbcType=VARCHAR},
            </if>
            <if test="eComments != null">
                #{eComments,jdbcType=INTEGER},
            </if>
            <if test="eType != null">
                #{eType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="T_employees">
        update t_employees
        <set>
            <if test="eName != null">
                e_name = #{eName,jdbcType=VARCHAR},
            </if>
            <if test="eAge != null">
                e_age = #{eAge,jdbcType=INTEGER},
            </if>
            <if test="eIntroduce != null">
                e_introduce = #{eIntroduce,jdbcType=INTEGER},
            </if>
            <if test="eMvaddress != null">
                e_mvaddress = #{eMvaddress,jdbcType=VARCHAR},
            </if>
            <if test="ePhone != null">
                e_phone = #{ePhone,jdbcType=VARCHAR},
            </if>
            <if test="ePhotoadd != null">
                e_photoadd = #{ePhotoadd,jdbcType=VARCHAR},
            </if>
            <if test="eComments != null">
                e_comments = #{eComments,jdbcType=INTEGER},
            </if>
            <if test="eType != null">
                e_type = #{eType,jdbcType=VARCHAR},
            </if>
        </set>
        where e_id = #{eId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="T_employees">
    update t_employees
    set e_name = #{eName,jdbcType=VARCHAR},
      e_age = #{eAge,jdbcType=INTEGER},
      e_introduce = #{eIntroduce,jdbcType=VARCHAR},
      e_mvaddress = #{eMvaddress,jdbcType=VARCHAR},
      e_phone = #{ePhone,jdbcType=VARCHAR},
      e_photoadd = #{ePhotoadd,jdbcType=VARCHAR},
      e_comments = #{eComments,jdbcType=INTEGER},
      e_type = #{eType,jdbcType=VARCHAR}
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
</mapper>