<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2015 -5 - 30  By wupeji QQ:757671834
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpj.work.dao.T_emptypeMapper" >
  <resultMap id="BaseResultMap" type="T_emptype" >
    <id column="t_id" property="tId" jdbcType="INTEGER" />
    <result column="t_content" property="tContent" jdbcType="VARCHAR" />
    <result column="t_introduce" property="tIntroduce" jdbcType="VARCHAR" />
    <result column="t_photoAdd" property="tPhotoadd" jdbcType="VARCHAR" />
    <result column="t_other" property="tOther" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="typeInfo" type="T_emptype" extends="BaseResultMap">
    <result column="t_isdelete" property="isDelete"/>
  </resultMap>
  <sql id="Base_Column_List" >
    t_id, t_content, t_introduce, t_photoAdd, t_other
  </sql>
  <!--       查询开始      -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_emptype
    where t_id = #{tId,jdbcType=INTEGER},t_isdelete=1;
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from t_emptype
    WHERE t_isdelete=1;
  </select>
  <!--
  查询结束
  软删除开始
  -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    UPDATE  t_emptype
    set t_isdelete=0
    where t_id = #{tId,jdbcType=INTEGER}
  </delete>
  <!--
  软删除结束
  添加开始
  -->
  <insert id="insert" parameterType="T_emptype" >
    insert into t_emptype (t_id, t_content, t_introduce, 
      t_photoAdd, t_other)
    values (#{tId,jdbcType=INTEGER}, #{tContent,jdbcType=VARCHAR}, #{tIntroduce,jdbcType=VARCHAR}, 
      #{tPhotoadd,jdbcType=VARCHAR}, #{tOther,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="T_emptype" >
    insert into t_emptype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="tContent != null" >
        t_content,
      </if>
      <if test="tIntroduce != null" >
        t_introduce,
      </if>
      <if test="tPhotoadd != null" >
        t_photoAdd,
      </if>
      <if test="tOther != null" >
        t_other,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=INTEGER},
      </if>
      <if test="tContent != null" >
        #{tContent,jdbcType=VARCHAR},
      </if>
      <if test="tIntroduce != null" >
        #{tIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tPhotoadd != null" >
        #{tPhotoadd,jdbcType=VARCHAR},
      </if>
      <if test="tOther != null" >
        #{tOther,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--
  更新结束
  更新开始
  -->
  <update id="updateByPrimaryKeySelective" parameterType="T_emptype" >
    update t_emptype
    <set >
      <if test="tContent != null" >
        t_content = #{tContent,jdbcType=VARCHAR},
      </if>
      <if test="tIntroduce != null" >
        t_introduce = #{tIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="tPhotoadd != null" >
        t_photoAdd = #{tPhotoadd,jdbcType=VARCHAR},
      </if>
      <if test="tOther != null" >
        t_other = #{tOther,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="T_emptype" >
    update t_emptype
    set t_content = #{tContent,jdbcType=VARCHAR},
      t_introduce = #{tIntroduce,jdbcType=VARCHAR},
      t_photoAdd = #{tPhotoadd,jdbcType=VARCHAR},
      t_other = #{tOther,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
  <!--更新结束-->
</mapper>