<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2015 -5 - 30  By wupeji QQ:757671834
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpj.work.dao.T_orderStatusMapper" >
  <resultMap id="BaseResultMap" type="T_orderStatus" >
    <id column="s_id" property="sId" jdbcType="INTEGER" />
    <result column="s_content" property="sContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    s_id, s_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_orderstatus
    where s_id = #{sId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_orderstatus
    where s_id = #{sId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="T_orderStatus" >
    insert into t_orderstatus (s_id, s_content)
    values (#{sId,jdbcType=INTEGER}, #{sContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="T_orderStatus" >
    insert into t_orderstatus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sId != null" >
        s_id,
      </if>
      <if test="sContent != null" >
        s_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sId != null" >
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="sContent != null" >
        #{sContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="T_orderStatus" >
    update t_orderstatus
    <set >
      <if test="sContent != null" >
        s_content = #{sContent,jdbcType=VARCHAR},
      </if>
    </set>
    where s_id = #{sId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="T_orderStatus" >
    update t_orderstatus
    set s_content = #{sContent,jdbcType=VARCHAR}
    where s_id = #{sId,jdbcType=INTEGER}
  </update>
</mapper>